@model Niunan.CaiPiao.Model.News
@{
    ViewBag.Title = Model.title;
}
<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
    <ul class="layui-tab-title">
        <li class="layui-this">@ViewBag.Title</li>
    </ul>
</div>
<form class="layui-form" action="">

    <div class='layui-form'>

        <div class='layui-form-item'>
            <label class='layui-form-label'>标题</label>
            <div class='layui-input-inline'>
                @Html.TextBoxFor(a => a.title, new { @class = "layui-input", lay_verify = "required" })
            </div>
            <div class='layui-form-mid layui-word-aux'><!--辅助文字--></div>
        </div>
        <div class='layui-form-item'>
            <label class='layui-form-label'>内容</label>
            <div class="layui-input-block">
                @Html.TextAreaFor(a => a.body, new { @class = "layui-textarea", style = "height:330px" })
            </div>
        </div>




        <div class="layui-form-item">
            <label class='layui-form-label'>&nbsp;</label>
            <div class="layui-input-inline">
                <button id="btn1" class="layui-btn" lay-submit="" lay-filter="demo1">保 存</button>
                @Html.AntiForgeryToken()
                @Html.HiddenFor(a => a.id)
                @Html.HiddenFor(a => a.createtime)
                @Html.HiddenFor(a => a.caname)
                @Html.HiddenFor(a => a.cabh)
                @Html.HiddenFor(a => a.visitnum)
            </div>
        </div>
    </div>

</form>
<link rel="stylesheet" href="/kindeditor/themes/default/default.css" />
<link rel="stylesheet" href="/kindeditor/plugins/code/prettify.css" />
<script src="/kindeditor/kindeditor-all-min.js"></script>
<script charset="utf-8" src="/kindeditor/lang/zh-CN.js"></script>
<script charset="utf-8" src="/kindeditor/plugins/code/prettify.js"></script>
<script>
    var pop_index;
    var editor1;
    KindEditor.ready(function (K) {
        editor1 = K.create('#body', {
            cssPath: '/kindeditor/plugins/code/prettify.css',
            uploadJson: '/Adnn1n/Home/KE_Upload',
            afterCreate: function () {
                var self = this;
                K.ctrl(document, 13, function () {
                    self.sync();
                    K('form[name=form1]')[0].submit();
                });
                K.ctrl(self.edit.doc, 13, function () {
                    self.sync();
                    K('form[name=form1]')[0].submit();
                });
            }
        });
        prettyPrint();
    });

    /*加载layui编辑器*/
    layui.use(['form', 'layer', 'laydate', 'upload'], function () {
        var form = layui.form;
        var laydate = layui.laydate;
        var upload = layui.upload;
        var layer = layui.layer;
        var $ = layui.jquery;


        //var uploadInst = upload.render({
        //			elem:'#btnimg',
        //               url: '/Adnn1n/Home/ImgUpload' //上传接口
        //               , done: function (res) { //上传成功后的回调
        //                  // console.log(res);
        //                   document.getElementById("img1").src = res.data.src;
        //                   document.getElementById("img").value = res.data.src;    //这里的img对应表中的字段，有可能是face也有可能是logo
        //               }
        //           });



        //监听提交
        form.on('submit(demo1)', function (data) {
            var url = "/adnn1n/News/add";
            var postdata = data.field;
            postdata.body = editor1.html();

            $('#btn1').attr("class", "layui-btn layui-btn-disabled");
            $('#btn1').attr("disabled", "disabled");

            pop_index = layer.load(0, {
                shade: [0.3, '#000'] //0.1透明度的白色背景
            });
            $.post(url, postdata, function (data) {
                layer.close(pop_index);
               
                    layer.alert(data.msg);
                $('#btn1').attr("class", "layui-btn");
                $('#btn1').removeAttr("disabled" );
            }, 'json')
            return false;
        });

    });
</script>
